node_modules
**/node_modules
.pnpm-store
.next
.turbo
dist
build
.git
.env.local
.env.*.local
*.log
.DS_Store
coverage
.vscode
.idea
*.dmg
*.zip
*.tar.gz
.docusaurus
playwright-report
falkordb_data
.sato
.agent
.cleanai
.iliyan
.expect
.kiro
.qodo
.vps
.hetzner
trunk
. Jules
.github
